In [93]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pokemon/Pokemon.csv

In [94]:
df = pd.read_csv('../input/pokemon/Pokemon.csv')
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [95]:
##Read summary of a dataframe including dtype and non-null value count.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [96]:
##Shape function tells shape or dimension of dataframe i.e no. of rows & columns.
df.shape

(800, 13)

In [97]:
##Read headers i.e column name
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [118]:
##Change column name '#' to 'id'
columns = df.columns.tolist()
columns[0] = 'id'
df.columns = columns
df.columns

Index(['id', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Beast'],
      dtype='object')

In [119]:
##Read any particular column.
df['Name'][0:5]

##Read more than one columns
df[['Name', 'Attack','Type 2']][0:4]

                    Name  Attack  Type 2
0              Bulbasaur      49  Poison
1                Ivysaur      62  Poison
2               Venusaur      82  Poison
3  VenusaurMega Venusaur     100  Poison

In [120]:
##Read more than 1 column at a time and store in new dataframe.
df_tmp = df[['Name', 'Type 1', 'Attack']]
df_tmp.head(2)

        Name Type 1  Attack
0  Bulbasaur  Grass      49
1    Ivysaur  Grass      62

In [121]:
##Read any row using iloc function using its index
df.iloc[1]

id                  2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
Total             405
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Beast           False
Name: 1, dtype: object

In [122]:
##Read a value from specific row & column
df.iloc[3,2]

'Grass'

In [123]:
##Iterate through each row
# for index, row in df.iterrows():
#     ##print(index, row)
#     print(index, row['Name'])

In [124]:
##Apply conditional statements and read only those who satisfies
df.loc[df['Type 1'] == 'Fire'][0:3]

Empty DataFrame
Columns: [id, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Beast]
Index: []

In [125]:
##Sort dataframe in ascending order(default) through a particular column.
df.sort_values('Attack')

##Sort dataframe in descending order.
df.sort_values('Attack', ascending =False)

##Sort dataframe using multiple columns with different order
df.sort_values(['Attack', 'Defense'], ascending =(0,1))[:5]

,id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Beast
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,True

In [126]:
##Data Manipulation :- Adding new column in dataframe 
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] +df['Sp. Def'] +df['Speed']
df.head(3)

##Add new column using iloc[row, column].sum(axis = 1 for horizontal sum & 0 for vertical sum) 
df['Total_iloc_use'] = df.iloc[:, 4:10].sum(axis = 1)
df.head(3)

,id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Beast,Total_iloc_use
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False,591
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False,750
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True,970

In [ ]:
##Drop columns in a dataframe

df = df.drop(columns =['Total_iloc_use'])
df[:3]

In [ ]:
##Save your datsframe as new csv file without index
df.to_csv('modified_new.csv', index=False)

##Save in excel format i.e xlsx
df.to_excel('modified_new_excel.xlsx', index=False)

In [ ]:
##Filtering Data

df.loc[(df['Type 1'] =='Grass') & (df['Type 2']=='Poison') & (df['Attack'] >=69)][:4]

##Save this filtered data in new dataframe
new_df = df.loc[(df['Type 1'] =='Grass') & (df['Type 2']=='Poison') & (df['Attack'] >=69)][:4]

##new_df.head(3)

##Reset index of new dataframe
new_df.reset_index(drop =True, inplace=True)
new_df.head(3)

In [ ]:
##Find value in 'Name' column which contains mega word

df.loc[df['Name'].str.contains('Mega')][:4]

##Remove those Name from data which contains mega word  

df.loc[~df['Name'].str.contains('Mega')]

In [ ]:
##Import regular expression library for further filtering

import re

##Find 'Name' which starts with 'pi' in Name column

df.loc[df['Name'].str.contains('^pi[a-z]*', flags =re.I, regex= True)]

In [ ]:
##Conditional Changes
##Changing the value 'Fire' to 'Flamer' in the 'Name' column 

df.loc[df['Type 1'] =='Fire', 'Type 1'] ='Flamer'
df

##Make all fire type pokemon legendery
df.loc[df['Type 1'] =='Flamer', 'Legendary'] =True
df

##Add new column and assign true value whose attack value is greater than 69
df.loc[df['Attack'] > 69, 'Beast'] = True
df.loc[df['Attack'] < 69, 'Beast'] = False
df

In [ ]:
##Read modified data

df_mod = pd.read_csv('modified_new.csv')
df_mod.head(3)

In [ ]:
##Aggregate Statistics will be done with groupby(), sum(), count() and mean() function.

##Use groupby function to find mean of all Type 1 pokemon and sort in ascending order w.r.t Attack.

df_mod.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

##Sum up all Type 1 pokemon features
df_mod.groupby(['Type 1']).sum()

##Count number of Type 1 pokemon in dataframe
df_mod.groupby(['Type 1']).count()

##Make another column count to count Type 1 pokemon more efficiently &  it is helpful in big data 
df_mod['count'] =1

df_mod.groupby(['Type 1']).count()['count']

##Apply multiple parameters 
df_mod.groupby(['Type 1', 'Type 2']).count()['count']

In [128]:
##Read chunk size data when data is too big
##For example read 5 rows at a time

# for df_mod in pd.read_csv('modified_new.csv', chunksize=5):
#     print("Chunk Df")
#     print(df)

In [171]:
##Principal Component Analysis(PCA) used for dimension reduction of dataset

import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [172]:
##Selecting numeric columns in which PSA technique has to apply to reduce dimension 
pca_col =['HP','Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

In [173]:
scaler = StandardScaler()
scaler.fit(df_mod[pca_col])

StandardScaler()

In [174]:
scaled_data = scaler.transform(df_mod[pca_col])

In [175]:
##It has been converted into array and this is based on Standard Deviation is 1 and Mean = 0.
scaled_data

array([[-0.95062622, -0.92490618, -0.79715364, -0.2391303 , -0.24818854,
        -0.80150318],
       [-0.3628221 , -0.5241302 , -0.34791742,  0.21955954,  0.29115635,
        -0.28501525],
       [ 0.42091674,  0.09244823,  0.29384863,  0.83114599,  1.01028289,
         0.40363531],
       ...,
       [ 0.42091674,  0.95565803, -0.44418232,  2.36011211,  2.08897269,
         0.05931003],
       [ 0.42091674,  2.49710411, -0.44418232,  2.97169856,  2.08897269,
         0.40363531],
       [ 0.42091674,  0.95565803,  1.4811158 ,  1.74852566,  0.65071962,
         0.05931003]])

In [176]:
##Apply PCA technique in data.
from sklearn.decomposition import PCA

In [177]:
##Now reduce data of 6 dimensions
pca = PCA(n_components = 0.6)
pca.fit(scaled_data)

PCA(n_components=0.6)

In [178]:
x_pca = pca.transform(scaled_data)
scaled_data.shape

(800, 6)

In [179]:
x_pca.shape

(800, 2)